aiosqlite>=0.20,<1
asyncmy>=0.2,<1
email-validator>=2.2,<3
fastapi>=0.111,<1
httpx>=0.28,<1
loguru>=0.7,<1
passlib>=1.7,<2
pymysql>=1.1,<2
pydantic>=2.10,<3
pydantic-settings>=2.7,<3
pyjwt>=2.10,<3
python-dotenv>=1.0,<2
python-multipart>=0.0.20,<1
tortoise-orm>=0.23,<1
uvicorn>=0.34,<1
websockets>=15,<16
